/* Basic style config */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-color: #E8F6FD;
    --basic-padding: 0.5rem;
    --minimal-spacing: 0.5rem;
    --basic-spacing: 1rem;
    --basic-border-radius: 5px;
    --text-color: black;
    --card-bg: white;
    --outline-color: #002B49;
    --input-bg: white;
}

.dark-theme {
    --bg-color: #121212;
    --text-color: #DBDBDB;
    --card-bg: #212121;
    --outline-color: #212121;
    --input-bg: #DBDBDB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-color);
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: var(--minimal-spacing);
}

header, main {
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--minimal-spacing);
    min-height: 0;  /* Important for flex children */
}

.content {
    width: 100%;  /* Add this line */
    max-width: 95vw;
    margin: 0 auto;
    padding: var(--basic-padding);
}

h1, h4, p, a {
    color: var(--text-color);
}

#search-bar {
    width: 100%;
    position: relative;
}

#location-input {
    width: 100%;
    padding-left: 10px;
    padding-right: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: var(--input-bg);
    font-size: 14px;
}

#search-btn {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    width: 32px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;

    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content > div {
    width: 100%;
}

.content-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content-item > div {
    border-radius: var(--basic-border-radius);
}

#weather-info {
    display: flex;
    justify-content: space-between;
    padding: var(--basic-padding);
    outline: 1px solid var(--outline-color);
}

#main-temp {
    font-size: 3.5em;
}

.rigth-info {
    text-align: right;
}

#weather-conditions {
    display: grid;
    gap: var(--basic-spacing);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.condition-card {
    outline: 1px solid var(--outline-color);
    border-radius: var(--basic-border-radius);
    padding: var(--basic-padding);
    display: flex;
    flex-direction: column;
    gap: var(--basic-spacing);
}

.condition-content {
    display: flex;
    gap: var(--minimal-spacing);
    justify-content: space-between;
}

.condition-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.condition-card > p {
    font-weight: 600;
}

.condition-info > p:last-child {
    font-size: 12px;
}

.condition-icon {
    font-size: 25px;    
}

#hourly-forecast {
    display: flex;
    gap: 0.5rem;
    padding: var(--basic-padding);
    overflow-x: auto;
    scrollbar-width: none;/* Firefox */
    outline: 1px solid var(--outline-color);
}

#hourly-forecast::-webkit-scrollbar {
    display: none;              /* Chrome, Safari */
}

.hour-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 70px;
    gap: 0.25rem;
    padding: var(--basic-padding);
    border-radius: var(--basic-border-radius);
}

.hour-card > p {
    white-space: nowrap;
}

#hourly-conditions {
    outline: 1px solid var(--outline-color);
    padding: var(--basic-padding);
}

#condition-buttons {
    display: flex;
    justify-content: space-between;
    gap: var(--basic-spacing);
}

#condition-buttons > button {
    flex: 1;
    outline: 1px solid var(--outline-color);
    background: none;
    border: none;
    padding: 5px;
    border-radius: var(--basic-border-radius);
}

#weekly-forecast {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.day-card {
    display: flex;
    justify-content: space-between;
    padding: var(--basic-padding);
    border-radius: var(--basic-border-radius);
    outline: 1px solid var(--outline-color);
}

#weather-info, #hourly-forecast, .day-card, .condition-card, #hourly-conditions {
    background: var(--card-bg);
}

#hour-icon, #day-icon {
    width: 20px;
    height: auto;
}

.day-card > div {
    display: flex;
    gap: var(--minimal-spacing);
}

#created-by {
    text-align: center;
}